.account-page{
    width: 100%;
    margin-left: 20%;
}

.accounts-head{
    display: flex;
    justify-content: space-between;
}
.account-name{
    font-size: 32px;
    font-weight: 600;
    margin: 10px;
}
.font-20{
    font-size: 20px;
}
.font-14{
    font-size: 14px;
}
.balance-details{
    display: flex;
}
.balance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 17px;
}
.sign{
    margin: 17px 0;
}
.features{
    display: flex;
}
.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 30px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    font-size: 14px;
}

th, td {
    padding: 8px 15px;
    border: 1px solid #E0E0E0;
}

.transaction-form input, .transaction-form select{
    width: 95%;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;

}

#checkbox{
    width: 10%;
}

.form {
    display: flex;
    align-items: center;
    border: none;
}
.transaction-form .save-btn{
    position: relative;
    left: 70%;
    color: white;
    font-size: 12px;
    font-weight: 400;
    background: #190582;
    border-radius: 12px;
    border: 1px black solid;
    padding: 8px 30px;
    margin: 10px;
}
.transaction-form .cancel-btn{
    position: relative;
    left: 70%;
    color: #190582;
    background-color: white;
    font-size: 12px;
    font-weight: 400;
    border-radius: 12px;
    border: 1px black solid;
    padding: 8px 25px;
    margin: 10px 22px;
}

.transaction-form {
    display: none;
    background-color: #A6C9FE;

}

.transaction-form.visible {
    display: block; 
}


.delete-account{
    margin: 10px 20px;
    padding: 0px 8px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
}