@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
html, body {
    display: flex;
    background-color: #f0f4f7;
}
.main-content {
    width: 100%;
    margin-left: 19%;
    flex-grow: 1;
    background-color: #FFFFFF;
}
input[type="month"] {
    padding: 20px 10px 14px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(212, 225, 253, 0.60);
    color: #190582;
    font-weight: 600;
    outline: none;
    width: 160px;
    transition: border-color 0.3s;
}
input[type="month"]:focus {
    border-color: #190582;
    background-color: #e8e8e8;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 20px;
}
.balance {
    padding: 11px 0px 12px 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: rgba(212, 225, 253, 0.60);
    color: #190582;
    font-weight: 600;
    outline: none;
    width: auto;
    gap: 10px;
    transition: border-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.balance p {
    margin: 0;
}
.balance p:first-child {
    font-size: 18px;
}
.total-balance {
    padding: 5px;
    font-size: 20px;
    background-color: #241687;
    color: #FFFFFF;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 3px 10px;
}
.category-section {
    width: 100%;
    background-color: white;
    color: #241687;
    font-weight: 500;
    font-size: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    font-size: 14px;
}
.category-header tr{
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 150px 150px 150px;
    padding: 15px;
    color: #FFFFFF;
    background-color: #190582;
}
.bills .category-type, .needs .category-type, .wants .category-type {
    font-size: 22px;
    display: grid;
    grid-template-columns: 60px 70px 640px 150px 150px 150px;
    background-color: #D4E1FD;
    border-bottom: 3px solid #7E9EEF;
    align-items: center;
    text-align: left;
}
.bills tr:not(:first-child), .needs tr:not(:first-child), .wants tr:not(:first-child) {
    font-size: 18px;
    display: grid;
    grid-template-columns: 50px 250px 450px 160px 150px 150px;
    align-items: center;
    padding: 7px;
    border-bottom: 3px solid #A6C9FE;
    text-align: left;
}
.bills tr:not(:first-child) input, .needs tr:not(:first-child) input, .wants tr:not(:first-child) input {
    width: 100px;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 10px;
    border: 1px solid #7E9EEF;
}
.category-type td i {
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}
.total-assigned, .total-activity, .total-available {
    text-align: left;
}
.bills tr i, .needs tr i, .wants tr i {
    padding: 10px;
    cursor: pointer;
}
.bills tr .category-name, .needs tr .category-name, .wants tr .category-name {
    display: flex;
    align-items: center;
    padding-right: 200px;
}
.category-form {
    display: none;
}
.category-form input{
    padding: 5px;
    margin: 10px 5px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
}
.category-form .name{
    padding: 5px;
    margin: 10px 500px 10px 50px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
}
.form {
    display: flex;
    align-items: center;
    border: none;
    background-color: #7E9EEF;
    width: 126.3%;
}
.category-form .save-btn{
    color: white;
    font-size: 12px;
    font-weight: 400;
    background: #190582;
    border-radius: 12px;
    border: 1px black solid;
    padding: 8px 30px;
    margin: 10px;
    cursor: pointer;
}
.category-form .cancel-btn{
    color: #190582;
    background-color: white;
    font-size: 12px;
    font-weight: 400;
    border-radius: 12px;
    border: 1px black solid;
    padding: 8px 25px;
    margin: 10px 22px;
    cursor: pointer;
}