.spending-page {
    width: 100%;
}

.netWorth-page {
    width: 100%;
}

.report-navbar {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    margin-bottom: 6.5px;
}

.report-links-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.report-links.active {
    color: #190582;
    text-decoration: underline; 
    text-decoration-thickness: 3px;
}

.report-links{
    font-size: 20px;
    color: #190582;
    font-weight: 600;
    margin-left: 25px;
}
input[type="month"] {
    padding: 20px 10px 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(212, 225, 253, 0.60);
    color: #190582;
    font-weight: 600;
    outline: none;
    width: 160px;
    transition: border-color 0.3s;
    position: absolute;
    top: 2.5%;
    right: 10%;
}

input[type="month"]:focus {
    border-color: #190582;
    background-color: #e8e8e8;
}

.report-heading {
    background-color: #190582;
    color: white;
    font-size: 20px;
    padding: 15px;
    font-weight: 500;
}

.all-categories-heading{
    font-size: 20px;
    font-weight: 600;
    color: #190582;
    margin: 25px;
    text-align: left;
}

.netWorth-page .container{
	width: 80%;
}

.chart-container{
    width: 35%;
    padding: 50px 200px;
}
.bar-container{
    width: 500px;
    margin: 50px 150px;
    padding: 50px;
}

.container p{
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.bar-container{
    width: 800px;
}


.chart-details{
    background-color: rgba(212, 225, 253, 0.60);
    width: 280px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 19%;
    right: 10%;
}

.total-spending{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 12px;
    margin: 25px 10px;
    border-radius: 10px;
}

.labels{
    margin-left: 30px;
}
.label{
    display: flex;
    align-items: center;
}

.shades{
    width: 25px;
    height: 25px;
    margin: 15px 20px 12px 0;
    border-radius: 50px;
}

.bills-shade{
    background-color: #190582;
}

.needs-shade{
    background-color: #7E9EEF;
}

.wants-shade{
    background-color: #83DD3F;
}
.date{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}